<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/public/images/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://rawgit.com/richleland/pygments-css/master/perldoc.css">
    <link rel="stylesheet" href="/public/styles/imazzine.css">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://unpkg.com/cytoscape@3.12.0/dist/cytoscape.min.js"></script>
    <title>
      {{ page.title | escape }}
    </title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  </head>
  <body id="imazzine">
    <!-- Layout Block -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <!-- Header Block -->
      <header class="mdl-layout__header">
        <!-- Logo/Menu -->
        <div role="button" tabindex="0" class="mdl-layout__drawer-button"></div>
        <!-- Main Header Block -->
        <div class="mdl-layout__header-row main-header">
          <!-- Title Block -->
          <span class="mdl-layout-title">
            {{ page.title | escape }}
          </span>
          <!-- Spacer Block -->
          <div class="mdl-layout-spacer"></div>
          {% assign ref_papers = site.papers | where:"ref", page.ref %}
          {% assign op_papers = ref_papers | where_exp: "paper","paper.lang != page.lang" %}
          {% if op_papers.size > 0 %}
            <!-- Change language block -->
            <button id="language-select" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              {{ page.lang }}
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="language-select">
              {% for paper in op_papers %}
                <li class="mdl-menu__item">
                  <a href="{{ paper.url }}">{{ paper.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </header>
      <!-- Drawer Block -->
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
          {{ site.t[page.lang].table_of_content | escape }}
        </span>
        <nav class="mdl-navigation">
          {% assign papers = site.papers | where:"lang", page.lang %}
          {% for paper in papers %}
            <a class="mdl-navigation__link" href="{{ paper.url }}">{{ paper.title }}</a>
          {% endfor %}
        </nav>
      </div>
      <!-- Main Block -->
      <main class="mdl-layout__content mdl-grid">
        <!-- <div class="page-content mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
          {{content}}
        </div> -->
        <div id="cytoblock" class="page-content mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col"></div>
        <!-- <script src="/public/js/load.js"></script> -->
        <script src="/public/js/viewer.js"></script>
      </main>
    </div>
  </body>
</html>